In [4]:
import numpy as np
import pandas as pd
import dask.dataframe as dd


file_path= 'G:\Bigdatatest\data\cdinfo.txt'
cdinfo = dd.read_csv(file_path, blocksize=100e6, names=['base', 'time', 'inorout', 'telephone'])

# 触发计算并查看数据
print(cdinfo.head())

# 如果需要将数据保存为单个CSV文件
# df.to_csv('combined_bike_orders.csv', single_file=True)
# 
# # 获取 USER_ID 列的唯一值
# unique_user_ids = cdinfo["base"].unique().compute()


date_max = cdinfo["time"].max().compute()
date_min = cdinfo["time"].min().compute()

# 打印唯一值
# print(unique_user_ids)
print(date_max)
print(date_min)

          base            time  inorout    telephone
0  55000000578  20230519000000        1  13564217020
1  55000000578  20230519000003        1  13086960739
2  55000000578  20230519000004        1  18143096737
3  55000000578  20230519000007        1  14333717882
4  55000000578  20230519000008        1  18761360716
20230519235959
20230519000000

In [11]:
cdinfo

Dask DataFrame Structure:
                  base   time inorout telephone
npartitions=246
                 int64  int64   int64     int64
                   ...    ...     ...       ...
...                ...    ...     ...       ...
                   ...    ...     ...       ...
                   ...    ...     ...       ...
Dask Name: read-csv, 1 graph layer

In [5]:
infected = pd.read_csv('infected01.txt', names=['telephone'])
infected_list = list(set(infected["telephone"].tolist()))
cdinfo_infected = cdinfo.loc[cdinfo["telephone"].isin(infected_list)]

# convert to pandas dataframe(because it is small dataset)
cdinfo_infected = cdinfo_infected.compute()
infected_base = list(set(cdinfo_infected["base"]))
infected_base.sort()

print(infected_base)

[55070849159, 55070852470, 55070853859, 55070864131, 55071099206, 55071102717, 55071106451, 55071108328, 55071108459, 55071109315, 55071505227, 55071844881, 55071848214, 55071849598, 55071849957, 55071858829, 55071861114, 55072171331, 55072173262, 55072173921, 55072175019, 55072383394, 55504604990, 55504606195, 55504614404, 55504619417, 55504880046, 55505315867, 55505326131, 55505329021, 55505422756, 55505425124, 55505425330, 55505427016, 55505428260, 55505435510, 55505435579, 55505591987, 55505595575, 55505596260, 55505597596, 55505598913, 55505599088, 55505599473, 55505604810, 55505605992, 55505609713, 55537659417, 55537661779, 55537662975, 55537664547, 55537669838, 55537672451, 55537675154, 55537680558, 55537682050, 55537809730, 55537825142, 55537831169, 55537832152, 55537846656, 55537850028, 55537852797, 55537854989, 55537857673, 55537861568, 55537864604, 55538238714, 55538244622, 55538248022, 55538248289, 55538250775, 55538251024, 55538308953, 55538313635, 55538316671, 55538683624, 55538687105, 55538687738, 55623365659, 55623373419, 55623378095, 55623380563, 55623390754, 55623391111, 55623589646, 55623591774, 55623592078, 55623603292, 55623606635, 55623607243, 55623615770, 55623620197, 55623623385, 55623624501, 55623624806, 55623627405, 55623634507, 55623637315, 55623640522, 55623641227, 55623641901, 55623642319, 55794984275, 55794994642, 55794998096, 55795002402, 55795004359, 55795004982, 55795006238, 55795007244, 55795009760, 55795142566, 55795155254, 55795155818, 55795457385, 55795457702, 55795458527, 55795459917, 55795460975, 55795461604, 55795462929, 55795464143, 55795468472, 55795473703, 55795479972, 55795484169, 55795485900]

In [6]:
len(infected_base)

128

In [8]:
cdinfo_infected_base = cdinfo.loc[cdinfo["base"].isin(infected_base)].compute()

In [10]:
cdinfo_infected_base

                base            time  inorout    telephone
750665   55070849159  20230519000000        1  15810524539
750666   55070849159  20230519000000        1  17751438543
750667   55070849159  20230519000005        1  13582646316
750668   55070849159  20230519000010        1  13600076119
750669   55070849159  20230519000010        1  19718893038
...              ...             ...      ...          ...
1590394  55795485900  20230519235959        2  19046078019
1590395  55795485900  20230519235959        2  19061396862
1590396  55795485900  20230519235959        2  19303314073
1590397  55795485900  20230519235959        2  19619972560
1590398  55795485900  20230519235959        2  19764620656

[256842 rows x 4 columns]